.logo{
  width: 80px;
}
.bor{
  width: 100%;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  background-color: white;
}
.log{
  width: 30%;
  /* background-color: gold; */
}

.downs{
  width: 70%;
  /* background-color: yellow; */
  gap: 20px;
  justify-content: space-around;
  /* overflow: hidden; */
}

  .drops{
  position: relative;

}

.drop{
height: 50px;
cursor:pointer;
}
.drop li{
  text-decoration: none;
  width: 100%;
  height: 8.5vh;
  padding-top: 2vh;
  font-size: 14px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif ;
  /* background-color: red; */
  /* text-align: center; */
  list-style-type: none;
  color: #081f89;
}
.dropdown{
  width: max-content;
  height: max-content;
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #fff;
  opacity: 0.75;
  padding: 3px 20px;
  border-top:2px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.drop:hover .dropdown{
  display: block;
}
.drop:hover li{
  color: rgba(78, 78, 255, 0.959);
}
 li:hover{
  color: blue;
}
.dropdown p{
  width: 100%;
  margin: auto;
  font-weight: 600;
  margin-top: 10px;
  line-height: 28px;
  padding: 6px ;
  padding-left: 25px;
  cursor: pointer;
}
.dropdown p:hover{
  background-color: rgba(205, 205, 223,0.1);
  color: gray;
}
.big{
  width: 100%;
}
.big1{
  margin: auto;
  width: 60%;
}
.one{
  width: 50%;
  /* background-color: red; */
}
.one h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  color: RGB(26, 0, 82);
  text-decoration: none solid rgb(26, 0, 82);
  line-height: 79.2px;
  font-weight: 800;
  /* font-stretch: 100%; */
  padding: 0px 0px 10px;
  vertical-align: baseline;
  text-align: left;
}
.one p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.bot{
  background-color: #081f89;
  color: white;
  white-space: nowrap;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.two{
  width: 50%;
  /* background-color: yellow; */
}
.big-img{
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 20px;
}



.glance{
  width: 100%;
  height: 50vh;
  background-image: url(./images/glance.jpg);
  background-size: cover;
  background-color: #000442;
  background-repeat: no-repeat;
}
.right{
  margin-left: 53%;
  color: white;
}
.glance-txt h3{
  font-size: 28px;
  font-weight: 600;
}
.glance-txt p{
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
}
.glance-btn{
  border: 1px solid white;
  width: max-content;
  padding: 10px 20px;
}
.icon{
  display: none;
}
.glance-btn:hover .icon{
  display: block;
}


.img-cont{
  width: 90%;
  margin: auto;
  /* background-color: red; */
}
.img-img{
  width: 150px;
}


.bg-grad{
  background-color: #f0faff;
}
.grad-img{
  width: 800px;
}
.grad-txt h2{
  font-size: 48px;
  font-weight: 600;
}
.grad-txt p{
  color: #666666;
  font-size: 16px;
  font-weight: 500;
}